<body>
    <header id="header" class="fixed-top ">
        <div class="container d-flex align-items-center justify-content-between">
    
          <h1 class="logo"><a href="/">Cruz Distribuidora</a></h1>
          <!-- Uncomment below if you prefer to use an image logo -->
          <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
    
          <nav id="navbar" class="navbar">
            <ul>
              <li><a class="nav-link scrollto " href="/">Início</a></li>
              <li><a class="nav-link scrollto " href="/admin/users">Usuários</a></li> 
              <li><a class="nav-link scrollto " href="admin/products">Produtos</a></li> 
              <li><a class="nav-link scrollto " href="admin/suppliers">Fornecedores</a></li> 
              <li><a class="nav-link scrollto " href="/logout">Sair</a></li> 
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </nav>
    
        </div>
    </header>