<div class="alert text-center cookiealert" role="alert">
    Nós podemos colher algumas informações para finalidade técnica. Deseja prosseguir?

    <button type="button" class="btn btn-primary btn-sm acceptcookies" style="color: #fff; background-color: #35a5ed; border-color:#35a5ed;">
        Sim
    </button>
        <a type="button" class="btn btn-primary btn-sm acceptcookies" style="color: #fff; background-color: gray; border-color:gray;" href="https://www.google.com">Não</a>
</div>