<main id="main">
  <section id="hero">
      <div class="hero-container" data-aos="fade-up" data-aos-delay="150">
        <h1>Qualidade, eficiência e dedicação</h1>
        <h2>Distribuidora de produtos farmacêuticos</h2>
        <div class="d-flex">
          <a href="#about" class="btn-get-started scrollto">Começar</a>
          <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a> -->
        </div>
      </div>
    </section>