  <section id="about-boxes" class="about-boxes">
    <div class="container" data-aos="fade-up">

      <div class="row">
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
          <div class="card text-center">
            <img src="assets/img/about-boxes-1.jpg" class="card-img-top" alt="...">
            <div class="card-icon">
              <i class="ri-focus-2-fill"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="">Nossa missão</a></h5>
              <p class="card-text">Proporcionar a entrega dos melhores produtos farmacêuticos encontrados no mercado aos nossos clientes e parceiros. </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
          <div class="card text-center">
            <img src="assets/img/about-boxes-2.jpg" class="card-img-top" alt="...">
            <div class="card-icon">
              <i class="ri-eye-line"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="">Nossa visão</a></h5>
              <p class="card-text">Ser uma distribuidora de medicamentos que faz entregas de alta capacidade, eficiência e qualidade no mercado.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
          <div class="card text-center">
            <img src="assets/img/about-boxes-3.jpg" class="card-img-top" alt="...">
            <div class="card-icon">
              <i class="ri-list-check"></i>
            </div>
            <div class="card-body">
              <h5 class="card-title"><a href="">Nossos valores</a></h5>
              <p class="card-text" style="padding-left: 30%; text-align: left;">
                <i class="ri-check-fill"></i> Responsabilidade;<br>
                <i class="ri-check-fill"></i> Integridade;<br>
                <i class="ri-check-fill"></i> Qualidade;<br>
                <i class="ri-check-fill"></i> Compromisso;
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>