  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">

      <div class="section-title">
        <h2>Serviços</h2>
        <p>Principais serviços</p>
      </div>

      <div class="row" data-aos="fade-up" data-aos-delay="200">
        <div class="col-md-6">
          <div class="icon-box">
            <i class="bi bi-bag-plus-fill"></i>
            <h4><a href="#">Portfólio completo</a></h4>
            <p>Um catálogo variado com mais de 500 produtos prontos para suprir a demanda do mercado.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="bi bi-clock-fill"></i>
            <h4><a href="#">Pronta entrega</a></h4>
            <p>Produtos já separados e preparados para serem entregues por nossos colaboradores.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="bi bi-truck"></i>
            <h4><a href="#">Logística</a></h4>
            <p>Equipe eficiente e preparada para realizar as entregas de forma rápida e segura.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="bi bi-list-columns-reverse"></i>
            <h4><a href="#">Orçamento</a></h4>
            <p>Em nossa página de produtos é possível verificar os itens para que possamos auxiliar com o orçamento.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="bi bi-headset"></i>
            <h4><a href="#">Suporte e atendimento</a></h4>
            <p>Nosso time de atendimento preparado para tirar suas dúvidas e entregar a melhor experiência.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="bi bi-geo-alt-fill"></i>
            <h4><a href="#">Entrega em toda São Paulo</a></h4>
            <p>Com nossos principais fornecedores, conseguimos fazer entrega em todo território do estado de São Paulo.</p>
          </div>
        </div>
        
      </div>

    </div>
  </section>