  <section id="products" class="products">
    <div class="container" data-aos="zoom-in">
      <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="5000">
        <div class="testimonial-item section-title">
          <p style="text-align: center;">Nossos produtos</p>
        </div>

        <div class="swiper-wrapper">

          <div class="swiper-slide">
            <div class="row">
              <% products.forEach(products => {%>
                <div class="col-sm d-flex align-items-center justify-content-center">
                  <div class="card" style="padding: 5%; width: 11rem; height: 100%;">
                    <img src="<%= products.picture %>">
                    <div class="card-body" style="text-align: center; align-self: flex-end;">
                      <h5 class="card-title"><%= products.supplier.title %></h5>
                      <p class="card-text"><%= products.title %></p>
                    </div>
                  </div>
                </div>
              <% }) %>           
            </div>
          </div>
        </div>
        
        <br><br>
        <div class="swiper-pagination"></div>
      </div>

      <div class="d-flex align-items-center justify-content-center">
        <a href="/produtos" class="btn btn-secondary">Ver mais</a>
      </div>

    </div>
  </section>